$mercadolibre-yellow: #ffe600;
$mercadolibre-dark: #333333;
$mercadolibre-medium-gray: #666666;
$mercadolibre-light-gray: #999999;
$mercadolibre-lightest-gray: #eeeeee;
$mercadolibre-blue: #3483fa;
$mercadolibre-white: #ffffff;
