@use "Globals" as *;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.items-categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: $spacing-small 0;
  flex-wrap: wrap;
}

.items-container {
  margin: $spacing-small 0;
  background-color: $mercadolibre-white;
}

.items-list-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: $spacing-medium 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 2fr;
    padding: $spacing-small 0;
  }

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.divider {
  background-color: $mercadolibre-lightest-gray;
  height: 1px;
  width: calc(100% - $spacing-large);
  margin: 0 $spacing-medium;

  @media (max-width: 480px) {
    width: calc(100% - $spacing-medium);
  }
}

.items-list-item-image {
  width: 180px;
  height: 180px;
  margin: 0 $spacing-medium;
  border-radius: $border-radius-small;
  object-fit: cover;

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
  }

  @media (max-width: 480px) {
    width: 100px;
    height: 100px;
    margin: 0;
  }
}

.items-list-item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: $spacing-medium;
  width: 100%;

  @media (max-width: 480px) {
    margin: $spacing-small 0;
  }
}

.items-list-item-price {
  font-size: $font-size-x-large;
  color: $mercadolibre-dark;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.items-list-item-price-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing-large;

  @media (max-width: 768px) {
    margin-bottom: 1.5rem;
  }

  @media (max-width: 480px) {
    margin-bottom: $spacing-medium;
  }
}

.items-list-item-free-shipping {
  width: 18px;
  height: 18px;
  margin: 0 0.5rem;

  @media (max-width: 480px) {
    width: 14px;
    height: 14px;
    margin: 0 0.3rem;
  }
}

.items-list-item-title {
  font-size: $font-size-large;
  color: $mercadolibre-dark;

  @media (max-width: 768px) {
    font-size: $font-size-medium;
  }

  @media (max-width: 480px) {
    font-size: $font-size-small;
  }
}

.items-list-item-location-container {
  display: flex;
  justify-content: flex-start;
  margin-top: $spacing-medium;

  @media (max-width: 480px) {
    margin-top: $spacing-small;
  }
}

.items-list-item-location {
  font-size: $font-size-small;
  color: $mercadolibre-light-gray;

  @media (max-width: 480px) {
    font-size: 10px;
  }
}
