@use "Globals" as *;

.layout {
  background-color: $mercadolibre-lightest-gray;
  min-height: 100vh;
}

.layout_content {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding: 0 4rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}
